
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha cliente</title>
</head>
<body>
  <div class="banner">
    <div class="imagen"> <img src="/images/ojologo.png" alt="ojo"></div>
    <div class="texto">texto logo</div>
    <div class="hora">hora</div>
  </div>

  <div class="crearFicha">
    <input type="text" placeholder="Nombre" [(ngModel)]="datonombre">
    <input type="text" placeholder="consulta" [(ngModel)]="datoconsulta">
    <input type="date">
    <input type="button">
  </div>
  
  <app-datos [nombre]="datonombre" [consulta]="datoconsulta"></app-datos>

<app-ficha></app-ficha>
</body>
</html>



<router-outlet />
